@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Germania+One&family=Phudu:wght@500&display=swap');  
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
  *{
    font-family: 'NanumSquareNeo-Variable';
  }
  body {
    background-color: white;
    padding: 30px;
    margin: 0;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px #6D6D6D;
    height: 50px;
    padding: 20px;
    margin: -30px;
    margin-bottom: 30px;
    border-bottom: none;
  }

  .navigation a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-right: 50px;
  }
  .logo{
    position: absolute;
    left: 0;
    margin-left: 100px;
    
  }
  .logo a {
    font-size: 56px;
    font-family: 'Phudu', cursive;
    color: #2BAE66;
    
  }
  
  .accountInfo{
    position: absolute;
    right: 0;
    
  }

  .roomlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    
  }

  .room {
    display: flex;
    width: 380px;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin:25px;
    border: none;
    box-shadow: 0 0 5px #6D6D6D;
    background-color: #ECFCF3;
    border-radius: 1em;
    transition: all 0.5s ;
  }
  .room p{
    transform: scaleY(0);
    transition: all 0.3s ;
    
  }
  .room:hover p{
    transform: scaleY(1);
    
  }
  .room:hover{
    border-radius: 2em;
    box-shadow: 0 0 10px;
    
    
  }
  .room:active{
    transition: all 0.1s ;
    transform: translate(10px, 5px)
    
  }
  .roomAppendButton{
    display: flex;
    width: 380px;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin:25px;
    border: none;
    box-shadow: 0 0 5px #6D6D6D;
    background-color: #D3D3D3;
    border-radius: 1em;
    transition: all 0.5s ;
  }
  .roomAppendButton:hover{
    border-radius: 2em;
    box-shadow: 0 0 10px;
  }
  .roomAppendButton:active{
    transition: all 0.1s ;
    transform: translate(10px, 5px)
    
  }
  .roominfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .roomInfoElement{
    display: inherit;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
  }
  .makeInviteCode{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .room-create{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .codeForm{
    display: none;
    text-align: center;
    margin-top: 10%;
    
  }
  #roomForm{
      
  }
  #roomTitle {
    width: 300px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px
  }


button {
    background-color: #2BAE66;
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 1em;
    transition: all 0.2s ;
    cursor: pointer;
}
button:hover {
  background: #21825B;
}

#buttonGroup{
    margin-bottom: 30px;
}